.env
venv/
fastapi.log

**/__pycache__

public/images/users/*.*
public/images/consumables/*.*
public/images/resource_images/*.*

!public/images/users/.gitkeep
!public/images/consumables/.gitkeep
!public/images/resource_images/.gitkeep